:host {
    height: 100%;
    place-content: center;
    align-items: center;
}
.wrap {
    height: 100%;
    .messages {
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        padding-right: 20px;
        width: 100%;
        flex: 1;
        .message {
            margin: 10px 10px 0 0;
            background-color: #ffcccc;
            border-radius: 10px;
            padding: 10px;
            &.me {
                margin: 10px 0 0 10px;
                background-color: #b8b7ff;
            }
            &.system {
                background: #aaa;
                text-align: center;
                color: #666;
            }
            .author {
                font-size: 10px;
                color: #333;
            }
            .time {
                font-size: 10px;
                color: #444;
            }
            .text {
                margin: 10px 0 0 0;
            }
        }
    }
    .input {
        padding: 10px 20px 5px 20px;
        width: 100%;
        box-sizing: border-box;
        .enter-btn {
            margin-left: 10px;
        }
    }
}
